body
{
	background-color: #008db1 !important;
}

.bloc-panel
{
	border: 3px black solid;
	margin: 1%;
	height: 80vh;
	background-color: white !important;
	border-radius: 20px 20px 20px 20px;
}

.bloc-list
{
	border-radius: 20px 20px 20px 20px;
	border: 3px black solid;
	height: 80vh;
	margin-top: 1%;
	background-color: white !important;
}

table
{
    border-collapse: collapse; 
}
td
{
    border: 2px solid black;
}
th
{
	border: 2px solid black;
}

.tableauScroll
{
	overflow: auto;
	height: auto;
	width: auto;
	align-content: center;
}