html, body {
    height: auto;
    max-height: 150%;
    width: 100%;
}

.displayDiagramme {
    /* background-color: #D8A48F; */
    background-color: #DAD4D4;
    /* background-color: #BED3C3; */
    max-width: 100%;
    min-height: 92vh;
    overflow-x: auto;
    scrollbar-width: thin;
    border-left : solid 5px black;
    border-bottom : solid 5px black;
    /* border: solid 2px black; */

}

.divlevel {
    height: auto;
}
/* Style des niveaux */
.levelStyle {
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: #779CAB;
    /* background-color: #525E7D; */
    width: 200px;
    border: solid 2px white;
    margin-left: 80px;
}
.levelCol{
    width: 100%;
}
.titleLevel {
    padding: 0 20px;
    color: white;
    font-weight: 700;
    height: 20px;
    border-bottom: dashed 2px white;
    padding-bottom: 30px !important;
    width: 100%;
}

#iconPlus {
    font-size : 25px;
    color: white;
}

#iconPlus:hover {
    color: #D6CE93;
}

/* Style des t�ches */
.task-item {
    background-color: #D6CE93; /*#EFEBCE #D6CE93*/
    /* background-color: #4A919E; */
    max-height: 150px;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: 2px 2px black;
    padding: 0;
}
.task-item > table {
    height: 80px;
}
.tableTask >tbody > tr > td{
    width: 50%;
}
.task-item > table > tbody > tr > td {
    border: solid 1px white;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}
.task-item > table > tbody > tr > td:first-child {
    border-right: solid 1px white;
}
.task-title {
    font-size: 15px;
    font-weight: 600;
}
.task-title > a {
    padding-top: 5px;
    color: black;
}
.task-title  .levelIcon {
    color: white !important;
}
.task-content {
    font-size: 12px;
    font-style: italic;
}
a {
    text-decoration: none;
}
/* Style du menu de gauche */
.left-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #b8b5b5b4;
}

.iconLeftMenu {
    font-size: 25px;
}

.collapsible {
    margin-top: 5px;
    border-bottom: solid 2px red;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 700;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    width: 100%;
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: solid 1px black;
}
#taskContent.content{
    display: block;
}

.form-label{
    display: flex;
    justify-content: start;
    margin: 0;
    font-weight: 600;
    padding-top: 10px;
}
.form-control {
    padding-top: 0px;
}

.btnSubmitForm {
    color: white;
    background-color: #779cab;
}

.btnCancelForm {
    color: white;
    background-color: #ab7784;
    margin-right: 20px;
}

.btnSubmitForm:hover, .btnCancelForm:hover {
    color: white;
    background-color: #d8a48f;
}


  

  
  .dropzone {
    /* background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;  */
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
   .draggable {
    display: inline-block;
    min-width: 40px;
    /* padding: 2em 0.5em;
    margin: 1rem 0 0 1rem; */
  
    color: #fff;
    background-color: #29e;
    /* border: solid 2px #fff; */
  
    touch-action: none;
    transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  } 
  
  .draggable.can-drop {
    color: #000;
    background-color: #4e4;
  }

  .isParent {
    background-color: rgb(194, 194, 12) !important;
  }

  .choice {
    background-color: rgb(107, 104, 104);
  }
  .choice:hover {
    background-color: rgb(194, 194, 12);
  }