body {
    background-color: #f5f5f5;
}

.add-project{
    background-color: #DAD4D4 !important;
}

.navbar {
    border-bottom: solid 2px rgb(94, 94, 94);
    box-shadow: 0px 2px rgb(94, 94, 94);
    background-color: #343434 !important;
}

.navbar * {
    color: white !important;
}

a {
    text-decoration: none;
}

.risque{
    background-color: #e8e8e8;
    border: solid 1px black;
    box-shadow: 0px 0px 2px black;
}