.bloc-inscription
{
	margin-top: 5%;
	width: 45%;
	height: auto;
	float: right;
	text-align: center;
	border-left: solid 2px black !important;

	
}

.bloc-connexion
{
	margin-top: 5%;
	width: 45%;
	height: auto;
	float: left;
	text-align: center;	
	}

#titrePage
{
	text-align: center;
	margin-top: 5%;
	font-size: 20px;
}

body
{
	background-color: #008db1 !important;
}

.form-connexion
{
	margin-top: 10px !important;
}

.form-inscription
{
	margin-top: 10px !important;
}